@tailwind base;
@tailwind components;
@tailwind utilities;

/* 


 MAIN

*/

@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");

.scroll {
  overflow: hidden;
}

/* body {
  margin: 0; 
  padding: 0; 
  background-color: white; /* Set default background color */
/* } */ 

html {
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
}

/* 


 ONLOAD ANIMATION


*/

.animate__loading {
  position: absolute;
  bottom: 0;
  animation: load 3.2s ease-in-out forwards;
}

.animate__speed {
  animation: speed 1.4s ease-in-out forwards;
}

@keyframes load {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-130px);
  }
}

@keyframes speed {
  0% {
    transform: translateY(-130px);
  }
  100% {
    transform: translateY(-1000px);
  }
}


/* 


HOMEPAGE 


*/

.header {
  font-family: "Cambo", serif;
}

/* 


SCROLL BAR


*/

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 16px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
}
